<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarık Portfolio</title>
    <!--<link rel="stylesheet" href="header.css">-->
    <link rel="stylesheet" href="{{ '/assets/css/header.css' | relative_url }}">
</head>


<header class="site-header">
    

    
    



    <div class="header-main">
        <img src="/assets/images/profile_photo.jpg" alt="Profile photo" class="header-logo">
        
        <div class="header-title">
                <h1>Tarık AÇIKGÖZ</h1>
                <p>Computer Engineer</p>
                <p>tarikacikgoz96@gmail.com</p>
         <div class="social-links">

            <a href="https://www.linkedin.com/in/tarikacikgoz1996/">
                <img src="/assets/images/icon1.png" alt="linkedin" class="icon-logo">
            </a>

            <a href="https://github.com/tarikacikgoz96">
                <img src="/assets/images/icon2.png" alt="github" class="icon-logo">           
            </a>


        </div>
        </div>

        <div class="header-badges">
            <img src="/assets/images/badge1.png" alt="TSK" class="icon-badge">
            <img src="/assets/images/badge2.png" alt="EGE University" class="icon-badge"> 
        </div>
    </div>







    <div class="header-navigator">
        <nav class="header-nav">
            <a href="/">Home Page</a>
            <a href="/profile">Profile</a>
            <a href="/projects">Projects</a>
            <a href="/articles">Articles</a>
            <a href="/devNotes">Dev Notes</a>
        </nav>
    </div>

</header>
