<header class="site-header"
        style="background-image: url('{{ site.data.settings.banner }}');">
    


    <div class="header-main">
        <img src="{{ site.data.settings.logo }}" alt="Logo" class="header-logo">
        
        <div class="header-title">
            <h1>{{ site.data.settings.site_title }}</h1>
            <p>{{ site.data.settings.job_title }}</p>
            <p>{{ site.data.settings.email }}</p>
            <div class="social-links">
                {% for social in site.data.settings.social_links %}
                    <a href="{{ social.url }}">
                        <img src="{{ social.icon }}"
                            alt="{{ social.alt }}"
                            class="icon-logo">
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="header-right">
            <div class="header-badges">
                {% for badge in site.data.settings.badges %}
                    <img src="{{ badge.image }}"
                        alt="{{ badge.alt }}"
                        class="icon-badge">
                {% endfor %}
            </div>
            <div class="header-words">
                <p>{{ site.data.settings.quote }}</p>
                <p> {{ site.data.settings.quote_author }}</p>
            </div>
        </div>


    </div>



</header>



