<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarık Portfolio</title>
    <!--<link rel="stylesheet" href="header.css">-->
    <link rel="stylesheet" href="{{ '/assets/css/header.css' | relative_url }}">
</head>


<header class="site-header">
    

    
    



    <div class="header-main">
        <img src="/assets/images/profile_photo.jpg" alt="Profile photo" class="header-logo">
        
        <div class="header-title">
            <h1>Tarık AÇIKGÖZ</h1>
            <p>Computer Engineer</p>
            <p>tarikacikgoz96@gmail.com</p>
            <div class="social-links">
                <a href="https://www.linkedin.com/in/tarikacikgoz1996/">
                    <img src="/assets/images/icon1.png" alt="linkedin" class="icon-logo">
                </a>
                <a href="https://github.com/tarikacikgoz96">
                    <img src="/assets/images/icon2.png" alt="github" class="icon-logo">           
                </a>
            </div>
        </div>

        <div class="header-right">
            <div class="header-badges">
                <img src="/assets/images/badge1.png" alt="TSK" class="icon-badge">
                <img src="/assets/images/badge2.png" alt="EGE University" class="icon-badge">
            </div>
            <div class="header-words">
                <p>Yalnız tek bir şeye ihtiyacımız vardır; çalışkan olmak. </p>
                <p> M. Kemal ATATÜRK</p>
            </div>
        </div>

<script src="{{ '/assets/js/header_left.js' | relative_url }}"></script>
    </div>



</header>

<div class="header-navigator">

    <button class="menu-toggle">
    ☰ Menu
    </button>

    <nav class="header-nav">
    <a href="/"
    class="{% if page.url == '/' %}active{% endif %}">
    Home Page
    </a>

    <a href="/profile"
    class="{% if page.url contains '/profile' %}active{% endif %}">
    Profile
    </a>

    <a href="/projects"
    class="{% if page.url contains '/projects' %}active{% endif %}">
    Projects
    </a>

    <a href="/articles"
    class="{% if page.url contains '/articles' %}active{% endif %}">
    Articles
    </a>

    <a href="/devNotes"
    class="{% if page.url contains '/devNotes' %}active{% endif %}">
    Dev Notes
    </a>
    </nav>
</div>


<script src="{{ '/assets/js/header_right.js' | relative_url }}"></script>


