<div class="header-navigator">

    <button class="menu-toggle">
    ☰ Menu
    </button>

    <nav class="header-nav">
        {% assign menu_pages = site.contents | where: "show_in_menu", true | sort: "menu_order" %}

        {% for item in menu_pages %}

            <a href="{{ item.url }}"
               class="{% if page.url == item.url %}active{% endif %}">
                {{ item.title }}
            </a>

        {% endfor %}
    </nav>
    
</div>

<script src="{{ '/assets/js/header-navigator.js' | relative_url }}"></script>