.site-footer {
    margin: 0;
    padding: 0;
    text-align: center;
    border: 0.0625rem solid #333;
    border-top: none;
    color: #575656;
    width: 100%;
}

.site-footer p {
    margin: 0;
    padding: 0.625rem;
}